#show-meal-details-parent{

	margin-top: 100px;
	margin-bottom: 200px;

	width: 25%;
}

.meal-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.single-meal-image{
	width: 100%;
}